.sans-serif{
    font-family: remoto;
}

.color-blak{
    background-color: black;
}

.text-container {
    text-align: center;
    margin: 0 auto;
}  

.color-aqua{
    color:aqua; 
}
.color-blue{
    background-color:rgb(0, 113, 227);
    color: black;
}

.no-decoration{
    text-decoration: rgb(0, 113, 227);
}

.text-container{
    font-size: 30px;
}

.box-container{
    text-align: center;
    margin: 0 auto;
}

.box{
    width: 500px;
    height: 700pxS;
    border: 1px solid black;
    display:inline-block;
    background-color:rgb(242, 242, 242);
}          
.h2{
    font-size: 20px;
}
.p{
    front-size: 550%;
}
.color-grey{
    color: grey;
    width: 100%;
    height: 50px;;
   
}


